# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/ngrx/dist
/ngrx/tmp
/ngrx/out-tsc

# dependencies
/ngrx/node_modules

# IDEs and editors
/ngrx/.idea
/ngrx.project
/ngrx.classpath
/ngrx.c9/
*.launch
/ngrx.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/ngrx/.angular/cache
/ngrx/.sass-cache
/ngrx/connect.lock
/ngrx/coverage
/ngrx/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
