/Typescript/pure_typescript/node_modules

# See http://help.github.com/ignore-files/ for more about ignoring files.

**/.angular/**

# compiled output
/Angular_projects/ngrx/dist
/Angular_projects/ngrx/tmp
/Angular_projects/ngrx/out-tsc

# dependencies
/Angular_projects/ngrx/node_modules

# IDEs and editors
/Angular_projects/ngrx/.idea
/Angular_projects/ngrx.project
/Angular_projects/ngrx.classpath
/Angular_projects/ngrx.c9/
*.launch
/Angular_projects/ngrx.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/Angular_projects/ngrx/.angular/cache
/Angular_projects/ngrx/.sass-cache
/Angular_projects/ngrx/connect.lock
/Angular_projects/ngrx/coverage
/Angular_projects/ngrx/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

**/node_modules
**/.env
**/dist
