<app-child post="hi">
  <p question>Is content projection cool?</p>
  <p>Let's learn about content projection!</p>
  <p>Conditional content projection</p>
  <!--  In the template where you want to project content, wrap the projected content in an <ng-template> element, such as:-->
  <ng-template conditionallyProjectedContent>
    It depends on what you do with it. (conditionallyProjectedContent using
    ContentChild)
  </ng-template>
  <!--  The <ng-template> element defines a block of content that a component can render based on its own logic.
A component can get a reference to this template content, or TemplateRef,
by using either the @ContentChild or @ContentChildren decorators.-->

  <!--  @ContentChild-->
  <!--  Use to get the first element or the directive matching the selector from the content DOM.
If the content DOM changes, and a new child matches the selector, the property will be updated.
Content queries are set before the ngAfterContentInit callback is called.-->

  <!--  @ContentChildren-->
  <!--  Use to get the QueryList of elements or directives from the content DOM.
Any time a child element is added, removed, or moved, the query list will be updated,
and the changes observable of the query list will emit a new value.
Content queries are set before the ngAfterContentInit callback is called.-->

  <!--  QueryList-->
  <!--  Implements an iterable interface.
Changes can be observed by subscribing to the changes Observable.-->

  <!--  The above code creates a custom directive, conditionallyProjectedContent,
  as an API to mark the <ng-template> for the component's content -->
  <!--  With the TemplateRef, the component can render the referenced content by using either the ngTemplateOutlet directive,
 or with the ViewContainerRef method createEmbeddedView().-->

  <!--  ngProjectAs is an attribute that is used on the <ng-content> element in a parent component's template.
Its purpose is to allow the parent component to specify a different element in the child component's template
to project its content into.
This is useful in cases where the parent component's content needs to be rendered inside a specific element in the
 child component's template, such as a specific heading or container element.
 The value of ngProjectAs is a CSS selector that matches the desired element in the child component's template.-->

  <ng-container ngProjectAs="[question]">Using ngProjectAs</ng-container>

  <p customDirective>This is custom directive. it can do anything</p>
</app-child>
